@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.srevice_icon_box:hover,.srevice_icon_box h3:hover,.read_more:hover, .read_more i:hover, .pdt_top a.box_btn:hover, .box_btn:hover,.url_chain_form input[type="submit"]:hover{
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}
body{
	font-family: 'Khula', sans-serif;
	font-size:15px;
	color:#9999;
}
*{
margin:0; 
padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px;
	font-weight:400;
	font-family: 'Khula', sans-serif;
	color:#373737;
}
h2 {
  line-height: 1.4;
}
.header-area {
  padding: 20px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: inline-block;
    position: relative;
}
.mainmenu ul li a {
    color: #888;
    display: block;
    font-size: 15px;
    padding: 12px 15px;
	text-decoration:none;
}
.mainmenu ul li a:hover{
	color:#ef476f;
}
.box_btn {
    background: #ef476f none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 12px 20px;
	border:none
}
a.box_btn {
  text-decoration: none;
}
a.box_btn:hover{
	color:#000;
}
.hero-area {
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  padding: 150px 0;
}
.hero-area h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
}
input[type="url"], input[type="password"], input[type="text"],input[type="email"], textarea {
  border: 1px solid #efefef;
  float: left;
  margin-right: 15px;
  padding: 7px 20px;
  width: 300px;
  margin-bottom:15px;
}
input[type="submit"], button[type="text"]{
    background: #ef476f none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 8px 22px;
	border:none
}
.url_chain_form {
    padding: 30px 0;
}

.section_padding {
  padding: 115px 0;
}
.section_title {
  padding-bottom: 90px;
}

.single-service-box {
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding: 25px;
}
.service-icon i.zmdi {
  color: #5B5658;
  font-size: 30px;
}
h3 {
}
.single-service-box h3 {
  font-size: 22px;
  padding: 20px 0;
}
.single-service-box p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}
.read-more {
  padding: 16px 0;
}
.single-service-box a.read-more {
  color: #000;
  font-size: 15px;
  text-decoration:none
}
.read-more i {
  margin-left: 10px;
  padding-top: ;
  padding: 3px 2px;
}
.single-service-box:hover {
  border: 1px solid #ef476f;
}
.single-service-box:hover h3, .single-service-box:hover a {
  color: #EF476F;
}
.pdt-50 {
  padding: 50px 0;
}

.pdt-50 h2 {
  font-size: 28px;
}
.pdt-50 p {
  line-height: 1.6;
  font-weight: 300;
}
.pdt-50 a.box_btn {
  padding: 10px 57px;
  margin: 20px auto;
}
.section_padding.gray_bg {
  background: #FBFBFB;
}

.single-case-studies-carousel {
  display: table;
  width: 100%;
  height: 320px;
  background: #ddd;
  position: relative;
}
.case-studies-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 30px;
  text-align: center;
  transition: .3s;
  background: #EF476F;
  color: #fff;
  opacity: 0;
  visibility: hidden;
}
.case-studies-wrapper h3, .case-studies-wrapper h4 {
  color: #fff;
}
.case-studies-wrapper i {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #f00;
  font-size: 30px;
  display: inline-block;
  line-height: 47px;
  border-radius: 50%;
  margin-top: 15px;
}
.single-case-studies-carousel:hover .case-studies-wrapper{
  opacity: 1;
  visibility: visible;
}

.section_padding.overfolow-x-studies {
  overflow-x: hidden;
}
.case-studies-carousel.owl-carousel .owl-stage-outer {
  overflow: inherit;
}

.owl-dots div {
  height: 3px;
  width: 40px;
  background: #ddd;
  display: inline-block;
  margin: 2px;
}
.owl-dots div.active {
  background: #ef476f;
}
.owl-dots {
  text-align: center;
  margin-top:10px;
}

.testimonial-content p {
  font-size: 24px;
  font-weight: 400;
  color: #373737;
  padding-bottom: 35px;
}
.testimonial-meta img {
  width: 60px !important;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonial-content h4 {
  font-size: 18px;
  color: #373737;
  margin-bottom: ;
}

.cta-area {
  background: #F8F8F8;
  padding: 60px 0;
}
.cta-area h2 {
  margin: 0 0;
  padding: 9px;
  color: #373737;
  font-size: 28px;
  font-weight: 400;
}

.single-pricing-box {
  border: 1px solid #F3F3F3;
  padding: 30px;
  margin-bottom: 90px;
  color: #999999;
}
.pricing-content {
  line-height: 2.4;
  font-size: 17px;
}
.pricing-content a.box_btn {
  line-height: 1.4;
  margin-top: 20px;
}
.pricing-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricing-heading {
  border-bottom: 1px solid #F3F3F3;
  margin-bottom: 10px;
}
.pricing-heading h4 {
  font-size: 20px;
}
.pricing-count {
  font-size: 50px;
  color: #EF476F;
  line-height: 1.0;
}
.single-pricing-box:hover {
  border: 1px solid #EF476F;
}
.single-pricing-box:hover .pricing-heading{
  border-bottom: 1px solid #EF476F;
}
.logo-carousel-item {
  display: table-cell;
  vertical-align: middle;
}
.single-logo-carousel:hover {
  opacity: 1;
}
.single-logo-carousel:hover .logo-carousel-item {
  opacity: 1;
  background: ;
}

.footer-area {
  background: #FDFDFD;
  padding: 115px 0;
  font-size: 15px;
  line-height: 2;
}
.footer-area a {
  color: #999;
}
.footer-area h4 {
  color: #373737;
  font-size: 20px;
  font-weight: 400;
}
.footer-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-area input[type="email"] {
  width: 70%;
  background: #F6F6F6;
  border: 1px solid #F6F6F6;
  height: 45px;
  padding: 10px 15px;
  margin-right: -10px;
}
.footer-area input[type="submit"] {
  width: 30%;
  padding: 10px;
  border: none;
  margin-bottom: 40px;
}

.social-icon li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 5px;
}
.social-icon a {
  color: ;
  text-decoration: none;
}
.social-icon i {
  color: #373737;
  font-size: 15px;
  margin-right: 5px;
}
.social-icon a:hover{
  color: #EF476F;
}
.social-icon a:hover i.zmdi{
	color: #EF476F;
}
.logo-carousel.owl-carousel .owl-item .logo-carousel-item a img {
	margin: 0 auto;
	width: auto;
}
.single-logo-carousel {
  display: table;
  width: 100%;
  height: 60px;
  opacity: .3;
  transition:.3s
}
.copy-right-section {
  background: #F7F7F7;
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: 15px;
}
.single-logo-carousel:hover.logo-carousel-item {
  opacity: 1;
}
.hero-area-form {
  background: #fff;
  color: #333;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.hero-area-form:after {
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	opacity: .3;
	z-index: -1;
	content:"";
	top: 8px;
	left: 8px;
	border-radius: 5px;
}

.hero-area-form h3 {
  text-align: center;
  color: #5F5F5F;
  font-size: 22px;
}
.hero-area-form p {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
.hero-area-form input {
  width: 100%;
}
.hero-area-form input[type="submit"] {
  width: 200px;
  margin: 0 auto;
  display: block;
  background:#06D6A0;
  color:#fff;
}
.hero-area-form-wrapper input[type="email"] {
  margin-bottom: 30px;
}